{% extends "base.html" %}
{% load i18n %}

{% block content %}
<html>
    <!-- This code is only meant for previewing your Reflow design. -->
    <head>
	<link rel="stylesheet" href="/static/css/boilerplate1.css" />
	<link rel="stylesheet" href="/media/css/index1.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/bubbler-one:n4:all.js"></script>
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <img id="image1" src="{{ MEDIA_URL }}img/collaborator.png" class="image" />
        <img id="image2" src="{{ MEDIA_URL }}img/paperclips-chain-teamwork_1940x900_33941-003.jpg" class="image" />

  <div class='row'>
    <div class='col-lg-4 pull-right'>
      <h1 style="color:yellow">Login here</h1>
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input class='btn' type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p style="color:yellow">{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p style="color:yellow">{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>

</div>
</div>
</div>
    </body>
    </html>
{% endblock %}


