<!DOCTYPE html>
<html>
    <!-- This code is only meant for previewing your Reflow design. -->
    <head>
	<link rel="stylesheet" href="/static/css/boilerplate1.css" />
	<link rel="stylesheet" href="/static/css/index1.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/bubbler-one:n4:all.js"></script>
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <img id="image" src="{{ MEDIA_URL }}img/paperclips-chain-teamwork_1940x900_33941-002.jpg" class="image" />
        <img id="image1" src="{{ MEDIA_URL }}img/collaborator.png" class="image" />
        <img id="image2" src="{{ MEDIA_URL }}img/paperclips-chain-teamwork_1940x900_33941-003.jpg" class="image" />
    </div>
    </body>
</html>

