<!DOCTYPE html>
<html>
    <!-- This code is only meant for previewing your Reflow design. -->
    <head>
	<link rel="stylesheet" href="/static/css/boilerplate1.css" />
	<link rel="stylesheet" href="/static/css/page2.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/bubbler-one:n4:all.js"></script>
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <img id="image" src="{{ MEDIA_URL }}img/collaborator.png" class="image" />
        <p id="text">
        Page title
        </p>
        <form action="Message">
        <input id="input" type="submit" value="Message"></input>
        </form>
		<form action="Call">
		<input id="input1" type="submit" value="Call"></input>
		</form>
        <form action="Find">
		<input id="input2" type="submit" value="Find"></input>
		</form>
        <form action="Job">
		<input id="input3" type="submit" value="Job"></input>
		</form>

    </div>
    </body>
</html>

