<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}Final Cloud Computing Project</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
      <style>
        {% block styles %}
        {% endblock %}
      </style>
  </head>

  <body>

    {% include 'navbar.html' %}

    <div class="container">

      <!-- Main jumbotron for a primary marketing message or call to action -->
    {% block jumbotron %}{% endblock %}
    
      <div class="body-content">
       
        <div class='row'>
           {% if request.user.is_authenticated %}
        <div class='col-lg-2 col-12'>
          <ul class='nav nav-pills nav-stacked'>
            <li><a href='/'><span class='badge pull-right'>8</span>Home</a></li>
            <li><a href='{% if request.user.is_authenticated %}{% url "profile" request.user.username %} {% endif %}'>Profile</a></li>
            <li><a href='{% url "questions" %}'>Improve Matches</a></li>
            <li><a href='/'><span class='badge pull-right'>18</span>Messages</a></li>
          </ul>
        </div>
        {% endif %}
        <div class='col-lg-10 col-12'>

          {% if messages %}
            <div class='row'>
            
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            
            </div>
          {% endif %}
            {% block content %} {% endblock %}
          </div>
            
        </div>
        <hr>
        {% include 'footer.html' %}
      
      </div>

    </div> <!-- /container -->
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src='/static/js/bootstrap.min.js'></script>

<script>
  $(document).ready(function(){
    {% block jquery %}
    {% endblock %}
    });
</script>
  </body>
</html>

