<!DOCTYPE html>
<html>
    <!-- This code is only meant for previewing your Reflow design. -->
    <head>
	<link rel="stylesheet" href="boilerplate.css" />
	<link rel="stylesheet" href="page4.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	<script>var __adobewebfontsappname__ = "reflow"</script>
	<script src="http://use.edgefonts.net/bubbler-one:n4:all.js"></script>
    </head>
    <body>

    <div id="primaryContainer" class="primaryContainer clearfix">
        <img id="image" src="img/collaborator.png" class="image" />
        <p id="text">
        Page title
        </p>
        <p id="text1">
        Twitter
        </p>
        <p id="text2">
        Facebook
        </p>
        <p id="text3">
        Name: Rakesh<br /><br />Email ID: Baba@techtantrik.com<br /><br />Link: Fb.com/techtantrik
        </p>
        <p id="text4">
        Name: Rakesh<br /><br />Email ID: Baba@techtantrik.com<br /><br />Link: Fb.com/techtantrik
        </p>
        <p id="text5">
        Google
        </p>
        <p id="text6">
        Linkedin
        </p>
        <p id="text7">
        Name: Rakesh<br /><br />Email ID: Baba@techtantrik.com<br /><br />Link: Fb.com/techtantrik
        </p>
        <p id="text8">
        Name: Rakesh<br /><br />Email ID: Baba@techtantrik.com<br /><br />Link: Fb.com/techtantrik
        </p>
        <p id="text9">
        Privacy - Terms & Conditions - Contact Us
        </p>
    </div>
    </body>
</html>